<!--  このファイルはライセンスフリーです。ご自身の責任の下、ご自由にお使いください。 -->
<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    <button on-touch="onTouch()" on-hold="onHold()" on-release="onRelease()" class="button">Touch / Hold / Release</button>
    <button on-tap="onTap()" on-double-tap="onDoubleTap()" class="button">Tap / Double Tap</button>
    <button on-drag="onDrag()" on-swipe="onSwipe()" class="button">Drag / Swipe</button>
    <br><h1>{{gestureText}}</h1>
  </ion-content>
</ion-view>
